<!DOCTYPE kpartgui>
<gui 
    name="ksecretsync" version="1"
    xmlns="http://www.kde.org/standards/kxmlgui/1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
  <MenuBar>
        <Menu name="settings">
            <text>&amp;Settings</text>
            <Merge name="StandardToolBarMenuHandler"/>
            <Action name="ksecretsync_configure" />
        </Menu>
  </MenuBar>
</gui>
