[Desktop Entry]
Type=Service
Exec=ksecretserviced
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.freedesktop.Secret
X-KDE-StartupNotify=false
Name=Secret Service Server
Name[fr]=Serveur des secrets
Name[ro]=Server de secrete
Comment=Secret Service Server
Comment[fr]=Serveur des secrets
Comment[ro]=Server de secrete
