[Desktop Entry]
Type=Application
Exec=ksecrets
Name=Secret Service Handling Tool
Name[pt]=Ferramenta de Tratamento dos Serviços de Senhas
Name[sv]=Secret Service-hanteringsverktyg
Name[uk]=Засіб роботи зі службою паролів
Name[x-test]=xxSecret Service Handling Toolxx
Comment=Secret Service Handling Tool
Comment[pt]=Ferramenta de Tratamento dos Serviços de Senhas
Comment[sv]=Secret Service-hanteringsverktyg
Comment[uk]=Засіб роботи зі службою паролів
Comment[x-test]=xxSecret Service Handling Toolxx
