[Desktop Entry]
Type=Application
Exec=ksecrets
Name=Secret Service Handling Tool
Name[fr]=Utilitaire de manipulation des secrets
Name[ro]=Utilitar pentru mânuirea secretelor
Comment=Secret Service Handling Tool
Comment[fr]=Utilitaire de manipulation des secrets
Comment[ro]=Utilitar pentru mânuirea secretelor
