[Desktop Entry]
Type=Service
Exec=ksecretserviced
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.freedesktop.Secret
X-KDE-StartupNotify=false
Name=Secret Service Server
Name[cs]=Server tajné služby
Name[et]=Saladusteenuse server
Name[fr]=Serveur de services de mots de passe
Name[nl]=Server voor geheimen service
Name[pt]=Servidor de Serviços de Senhas
Name[pt_BR]=Servidor de serviços de senhas
Name[sv]=Secret Service-server
Name[uk]=Сервер служби паролів
Name[x-test]=xxSecret Service Serverxx
Comment=Secret Service Server
Comment[cs]=Server tajné služby
Comment[et]=Saladusteenuse server
Comment[fr]=Serveur de services de mots de passe
Comment[nl]=Server voor geheimen service
Comment[pt]=Servidor de Serviços de Senhas
Comment[pt_BR]=Servidor de serviços de senhas
Comment[sv]=Secret Service-server
Comment[uk]=Сервер служби паролів
Comment[x-test]=xxSecret Service Serverxx
