[Desktop Entry]
Type=Service
Exec=ksecretsserviced
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.freedesktop.secrets
X-KDE-StartupNotify=false
Name=Secret Service Server
Name[cs]=Server tajné služby
Name[da]=Secret Service-server
Name[es]=Servidor de Secret Service
Name[et]=Saladusteenuse server
Name[fr]=Serveur de services de mots de passe
Name[km]=ម៉ាស៊ីន​បម្រើ​សេវា​កម្ម​សម្ងាត់
Name[nb]=Secret Service-tjener
Name[nl]=Server voor geheimen service
Name[pl]=Serwer usług sekretów
Name[pt]=Servidor de Serviços de Senhas
Name[pt_BR]=Servidor de serviços de senhas
Name[sv]=Secret Service-server
Name[uk]=Сервер служби паролів
Name[x-test]=xxSecret Service Serverxx
Comment=Secret Service Server
Comment[cs]=Server tajné služby
Comment[da]=Secret Service-server
Comment[es]=Servidor de Secret Service
Comment[et]=Saladusteenuse server
Comment[fr]=Serveur de services de mots de passe
Comment[km]=ម៉ាស៊ីន​បម្រើ​សេវា​កម្ម​សម្ងាត់
Comment[nb]=Secret Service-tjener
Comment[nl]=Server voor geheimen service
Comment[pl]=Serwer usług sekretów
Comment[pt]=Servidor de Serviços de Senhas
Comment[pt_BR]=Servidor de serviços de senhas
Comment[sv]=Secret Service-server
Comment[uk]=Сервер служби паролів
Comment[x-test]=xxSecret Service Serverxx

