[Desktop Entry]
Type=Service
Exec=ksecretsserviced
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.freedesktop.secrets
X-KDE-StartupNotify=false
Name=Secret Service Server
Name[es]=Servidor de Secret Service
Name[nl]=Server voor geheimen-service
Name[pt]=Servidor do Serviço de Senhas
Name[sv]=Secret Service-server
Name[uk]=Сервер служби паролів
Name[x-test]=xxSecret Service Serverxx
Comment=Secret Service Server
Comment[es]=Servidor de Secret Service
Comment[nl]=Server voor geheimen-service
Comment[pt]=Servidor do Serviço de Senhas
Comment[sv]=Secret Service-server
Comment[uk]=Сервер служби паролів
Comment[x-test]=xxSecret Service Serverxx

