[Desktop Entry]
Type=Service
Exec=ksecretsserviced
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.freedesktop.secrets
X-KDE-StartupNotify=false
Name=Secret Service Server
Name[ca]=Servidor de serveis de contrasenyes
Name[cs]=Server tajné služby
Name[da]=Secret Service-server
Name[de]=Passwortverwaltungsserver
Name[es]=Servidor de Secret Service
Name[et]=Saladusteenuse server
Name[fi]=Secret Service -palvelin
Name[fr]=Serveur de services de mots de passe
Name[hu]=Titokszolgáltatás-kezelő kiszolgáló
Name[ia]=Servitor de servicio secrete
Name[it]=Server Secret Service
Name[kk]=Құпия қызметінің сервері
Name[ko]=기밀 서비스 서버
Name[nb]=Secret Service-tjener
Name[nds]=Slöteldeenst-Server
Name[nl]=Server voor geheimen-service
Name[pl]=Serwer usługi danych poufnych
Name[pt]=Servidor do Serviço de Senhas
Name[pt_BR]=Servidor do serviço de senhas
Name[sk]=Server tajnej služby
Name[sr]=Сервер сервиса тајни
Name[sr@ijekavian]=Сервер сервиса тајни
Name[sr@ijekavianlatin]=Server servisa tajni
Name[sr@latin]=Server servisa tajni
Name[sv]=Secret Service-server
Name[uk]=Сервер служби паролів
Name[x-test]=xxSecret Service Serverxx
Name[zh_CN]=保密服务服务器
Name[zh_TW]=機密服務伺服器
Comment=Secret Service Server
Comment[ca]=Servidor de serveis de contrasenyes
Comment[cs]=Server tajné služby
Comment[da]=Secret Service-server
Comment[de]=Passwortverwaltungsserver
Comment[es]=Servidor de Secret Service
Comment[et]=Saladusteenuse server
Comment[fi]=Secret Service -palvelin
Comment[fr]=Serveur de services de mots de passe
Comment[hu]=Titokszolgáltatás-kezelő kiszolgáló
Comment[ia]=Servitor de servicio secrete
Comment[it]=Server Secret Service
Comment[kk]=Құпия қызметінің сервері
Comment[ko]=기밀 서비스 서버
Comment[nb]=Secret Service-tjener
Comment[nds]=Slöteldeenst-Server
Comment[nl]=Server voor geheimen-service
Comment[pl]=Serwer usługi danych poufnych
Comment[pt]=Servidor do Serviço de Senhas
Comment[pt_BR]=Servidor do serviço de senhas
Comment[sk]=Server tajnej služby
Comment[sr]=Сервер сервиса тајни
Comment[sr@ijekavian]=Сервер сервиса тајни
Comment[sr@ijekavianlatin]=Server servisa tajni
Comment[sr@latin]=Server servisa tajni
Comment[sv]=Secret Service-server
Comment[uk]=Сервер служби паролів
Comment[x-test]=xxSecret Service Serverxx
Comment[zh_CN]=保密服务服务器
Comment[zh_TW]=機密服務伺服器

