[Desktop Entry]
Icon=ksecretsync

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell4 ksecretsync
X-DocPath=kwallet/index.html#ksecretsync-kcontrol-module
X-KDE-Library=kcm_ksecretsync
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=account-details
X-KDE-Init=startup

Name=KDE Secret Sync
Name[et]=KDE Saladuse sünkroonimine
Name[fr]=Synchronisation de mots de passe pour KDE
Name[nb]=KDE hemmelig synkronisering
Name[nl]=KDE geheimen synchronisatie
Name[pt]=Sincronização de Senhas do KDE
Name[pt_BR]=Sincronização de senhas do KDE
Name[sv]=KDE-synkronisering med Secret
Name[uk]=Синхронізація паролів KDE
Name[x-test]=xxKDE Secret Syncxx
Comment=KDE Secret Sync tool configuration
Comment[et]=KDE Saladuse sünkroonimistööriista seadistamine
Comment[fr]=Configuration de l'outil de synchronisation de mots de passe pour KDE
Comment[nb]=Oppsett av verktøyet for KDE hemmelig synkronisering
Comment[nl]=Instellingen voor KDE geheimen synchronisatie
Comment[pt]=Configuração da ferramenta de sincronização de senhas do KDE
Comment[pt_BR]=Configuração da ferramenta de sincronização de senhas do KDE
Comment[sv]=Verktygsinställning av KDE-synkronisering med Secret
Comment[uk]=Налаштування засобу синхронізації паролів KDE
Comment[x-test]=xxKDE Secret Sync tool configurationxx
X-KDE-Keywords=Wallet,Form Fill,Passwords,Form Data
X-KDE-Keywords[ar]=محفظة،ملأ نموذج،كلمات السرّ،بيانات نموذج
X-KDE-Keywords[ca]=Cartera,Ompliment de formularis,Contrasentes,Dades de formularis
X-KDE-Keywords[cs]=úschovna,vyplnění formuláře,hesla,data formuláře
X-KDE-Keywords[cy]=Waled,Llenwi Ffurflen,Cyfrineiriau,Data Ffurflenni
X-KDE-Keywords[da]=Tegnebog,Formularudfyldning,Kodeord,Formular-data
X-KDE-Keywords[de]=Geheimfach,Formular,Passwort,Brieftasche,digitale Brieftasche
X-KDE-Keywords[el]=Πορτοφόλι,Συμπλήρωση φόρμας,Κωδικοί πρόσβασης,Δεδομένα φόρμας
X-KDE-Keywords[es]=Cartera,Rellenar formulario,Contraseña,Datos de formulario
X-KDE-Keywords[et]=Turvalaegas,Vormi täitmine,Paroolid,Vormiandmed
X-KDE-Keywords[eu]=Kartera,Formularioa Bete,Pasahitzak,Formulario Datuak
X-KDE-Keywords[fa]=Wallet، پر کردن برگه، اسم رمزها، دادۀ برگه
X-KDE-Keywords[fi]=Lompakko,Lomakkeen täyttö,Salasanat,Lomaketiedot
X-KDE-Keywords[fr]=gestionnaire de comptes,remplissage de formulaire,Mots de passe,Données de formulaire
X-KDE-Keywords[ga]=Wallet,Líonadh Foirmeacha,Focal Faire,Sonraí foirme
X-KDE-Keywords[gl]=Carteira,Preencher formulario,Contrasinais,Wallet,Dados do formulario
X-KDE-Keywords[hu]=digitális notesz,űrlapkitöltés,jelszavak,űrlapadatok
X-KDE-Keywords[it]=portafogli,wallet,riempimento moduli,moduli,form,password,dati moduli
X-KDE-Keywords[ja]=ウォレット,フォームフィル,パスワード,フォームデータ
X-KDE-Keywords[km]=កាបូប,ការបំពេញ​សំណុំ​បែបបទ,ពាក្យ​សម្ងាត់,ទិន្នន័យ​សំណុំ​បែបបទ
X-KDE-Keywords[ko]=지갑,자동 완성,비밀번호,폼 데이터
X-KDE-Keywords[lt]=Wallet, slaptažodinė,Form Fill,Passwords,Form Data,formų pildymas,slaptažodžiai,formų duomenys
X-KDE-Keywords[mk]=Wallet,Form Fill,Passwords,Form Data, Паричник, формулар, лозинки
X-KDE-Keywords[nb]=Wallet,Skjemautfylling,Passord,Skjema
X-KDE-Keywords[nds]=Knipp,Formulor,Passwöör,Formulordaten
X-KDE-Keywords[ne]=वालेट,फारम भराइ,पासवर्ड,फारम डेटा
X-KDE-Keywords[nl]=Wallet,gegevens,portefeuille,wachtwoorden,veilig bewaren van wachtwoorden,invulgegevens,formulieren
X-KDE-Keywords[nn]=wallet,skjemautfylling,passord,skjema
X-KDE-Keywords[pa]=Wallet,Form Fill,ਗੁਪਤ-ਕੋਡ,ਫਾਰਮ ਡਾਟਾ
X-KDE-Keywords[pl]=portfel,wypełnianie formularzy,uzupełnianie formularzy, hasła, hasło,dane formularzy, formularze
X-KDE-Keywords[pt]=Carteira,Preenchimento de Formulários,Senhas,Dados do Formulário
X-KDE-Keywords[pt_BR]=Carteira,Preenchimento de Formulário,Senhas,Dados de Formulário
X-KDE-Keywords[ro]=portofel,completare formulare,parole,date formular,formular
X-KDE-Keywords[ru]=Wallet,Form Fill,Passwords,Form Data,Бумажник,Пароли,Формы
X-KDE-Keywords[sl]=waller,denarnica,gesla,obrazec,podatki,geslo
X-KDE-Keywords[sr]=Wallet,Form Fill,Passwords,Form Data,лозинке,новчаник
X-KDE-Keywords[sr@latin]=Wallet,Form Fill,Passwords,Form Data,lozinke,novčanik
X-KDE-Keywords[sv]=Plånbok,fyll i formulär,lösenord,formulärdata
X-KDE-Keywords[ta]=வாலட், படிவ நிரப்பு, கடவுச் சொற்கள், படிவ தகவல்
X-KDE-Keywords[tg]=Ҳамён,Пуркунии Варақа,Гузарвожаҳо,Варақаи Додаҳо
X-KDE-Keywords[tr]=Cüzdan,Form Doldur,Şifreler,Form Verisi
X-KDE-Keywords[uk]=Торбинка,Заповнення форм,Паролі,Дані форм
X-KDE-Keywords[x-test]=xxWallet,Form Fill,Passwords,Form Dataxx
X-KDE-Keywords[zh_CN]=Wallet,Form Fill,Passwords,Form Data,钱包,填充表单,密码,表单数据
