[Desktop Entry]
Name=KSecretsService Secret Sync QML
Name[et]=Saladusteenuse saladuste sünkroonimine (QML)
Name[fr]=Synchronisation du serveur de services de mots de passe (QML)
Name[hu]=KSecretsService titkos QML szinkronizálás
Name[nl]=KSecretsService Secret Sync QML
Name[pt]=Sincronização de Senhas do KSecretsService (QML)
Name[pt_BR]=Sincronização de senhas do KSecretsService em QML
Name[sk]=KSecretsService Secret Sync QML
Name[sv]=KDE Secret Service-synkronisering QML
Name[uk]=Засіб синхронізації паролів KSecretsService на основі QML
Name[x-test]=xxKSecretsService Secret Sync QMLxx
Comment=KSecretsService synchronization tool
Comment[cs]=Nástroj KDE pro synchronizaci KSecretsService
Comment[et]=Saladusteenuse sünkroonimistööriist
Comment[fr]=Outil de synchronisation pour KSecretsService
Comment[hu]=KSecretsService szinkronizálás eszköz
Comment[nl]=KSecretsService hulpmiddel voor werken met service voor geheimen
Comment[pt]=Ferramenta de sincronização do KSecretsService
Comment[pt_BR]=Ferramenta de sincronização KSecretsService
Comment[sk]=Nástroj synchronizácie KSecretService
Comment[sv]=KDE Secret Service-synkroniseringsverktyg
Comment[uk]=Засіб синхронізації KSecretsService
Comment[x-test]=xxKSecretsService synchronization toolxx
Icon=kwalletmanager

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=200,200

X-KDE-PluginInfo-Author=Valentin Rusu
X-KDE-PluginInfo-Email=kde@rusu.info
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Name=secretsync-qml
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
Type=Service
