[Desktop Entry]
Type=Application
Exec=ksecrets
Name=Secret Service Handling Tool
Name[bs]=Alat za rukovanje tajnom službom
Name[ca]=Eina de gestió pel servei de contrasenyes
Name[ca@valencia]=Eina de gestió del servei de contrasenyes
Name[cs]=Nástroj pro správu služby hesel
Name[da]=Håndteringsværktøj til Secret Service
Name[de]=Passwortverwaltungswerkzeug
Name[es]=Herramienta de manejo del servicio secreto
Name[et]=Saladusteenuse tööriist
Name[fi]=Salaisuuspalvelun käsittelytyökalu
Name[fr]=Outil de gestion de services de mots de passe
Name[gl]=Ferramenta para manexar o servizo de segredos
Name[hu]=Titokszolgáltatás-kezelő eszköz
Name[it]=Strumento di gestione di Secret Service
Name[kk]=Құпия қызметімен айналысу құралы
Name[km]=ឧបករណ៍​គ្រប់គ្រង​សេវាកម្ម​សម្ងាត់
Name[ko]=기밀 서비스 처리 도구
Name[mr]=गुप्त सेवा हाताळणी साधन
Name[nb]=Secret Service håndteringsverktøy
Name[nds]=Warktüüch för den Slöteldeenst
Name[nl]=Hulpmiddel voor werken met geheimen-service
Name[pa]=ਭੇਦ ਸੇਵਾ ਹੈਡਲਿੰਗ ਟੂਲ
Name[pl]=Narzędzie obsługi usługi danych poufnych
Name[pt]=Ferramenta de Tratamento do Serviço de Senhas
Name[pt_BR]=Ferramenta de manipulação do serviço de senhas
Name[sk]=Nástroj na obsluhu tajnej služby
Name[sv]=Secret Service-hanteringsverktyg
Name[tr]=Parola Servisi Yönetim Aracı
Name[uk]=Засіб роботи зі службою паролів
Name[x-test]=xxSecret Service Handling Toolxx
Name[zh_CN]=保密服务处理工具
Name[zh_TW]=機密服務處理工具
Comment=Secret Service Handling Tool
Comment[bs]=Alat za rukovanje tajnom službom
Comment[ca]=Eina de gestió pel servei de contrasenyes
Comment[ca@valencia]=Eina de gestió del servei de contrasenyes
Comment[cs]=Nástroj pro správu služby hesel
Comment[da]=Håndteringsværktøj til Secret Service
Comment[de]=Programm zum Bedienen der Passwortverwaltung
Comment[es]=Herramienta de manejo del servicio secreto
Comment[et]=Saladusteenuse tööriist
Comment[fi]=Salaisuuspalvelun käsittelytyökalu
Comment[fr]=Outil de gestion de services de mots de passe
Comment[gl]=Ferramenta para manexar o servizo de segredos.
Comment[hu]=Titokszolgáltatás-kezelő eszköz
Comment[it]=Strumento di gestione di Secret Service
Comment[kk]=Құпия қызметімен айналысу құралы
Comment[km]=ឧបករណ៍​គ្រប់គ្រង​សេវាកម្ម​សម្ងាត់
Comment[ko]=기밀 서비스 처리 도구
Comment[mr]=गुप्त सेवा हाताळणी साधन
Comment[nb]=Secret Service håndteringsverktøy
Comment[nds]=En Warktüüch för den Slöteldeenst
Comment[nl]=Hulpmiddel voor werken met geheimen-service
Comment[pa]=ਭੇਦ ਸੇਵਾ ਹੈਡਲਿੰਗ ਟੂਲ
Comment[pl]=Narzędzie obsługi usługi danych poufnych
Comment[pt]=Ferramenta de Tratamento do Serviço de Senhas
Comment[pt_BR]=Ferramenta de manipulação do serviço de senhas
Comment[sk]=Nástroj na obsluhu tajnej služby
Comment[sv]=Secret Service-hanteringsverktyg
Comment[tr]=Parola Servisi Yönetim Aracı
Comment[uk]=Засіб роботи зі службою паролів
Comment[x-test]=xxSecret Service Handling Toolxx
Comment[zh_CN]=保密服务处理工具
Comment[zh_TW]=機密服務處理工具
NoDisplay=true
