[Desktop Entry]
Icon=ksecretsync

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell4 ksecretsync
X-DocPath=kwallet/index.html#ksecretsync-kcontrol-module
X-KDE-Library=kcm_ksecretsync
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=account-details
X-KDE-Init=startup

Name=KDE Secret Sync
Name[nl]=KDE geheimen synchronisatie
Name[pt]=Sincronização de Senhas do KDE
Name[pt_BR]=Sincronização de senhas do KDE
Name[sv]=KDE-synkronisering med Secret
Name[x-test]=xxKDE Secret Syncxx
Comment=Synchronize Secret Information between Computers
Comment[nl]=Geheime informatie tussen computers synchroniseren
Comment[pt]=Sincronizar a Informação de Senhas Entre Computadores
Comment[pt_BR]=Sincronizar a informação de senhas entre computadores
Comment[sv]=Synkronisera hemlig information mellan datorer
Comment[x-test]=xxSynchronize Secret Information between Computersxx
X-KDE-Keywords=Wallet,Form Fill,Passwords,Form Data,Secret
X-KDE-Keywords[nl]=Portefeuille,Formulier invullen,wachtwoorden,formuliergegevens,geheim
X-KDE-Keywords[pt]=Carteira,Preenchimento de Formulários,Senhas,Dados de Formulários,Senha
X-KDE-Keywords[pt_BR]=carteira,preencher formulário,senha,dados de formulário,segredo
X-KDE-Keywords[sv]=Plånbok,Formulär,Lösenord,Formulärdata,Hemlighet
X-KDE-Keywords[x-test]=xxWallet,Form Fill,Passwords,Form Data,Secretxx
