[Desktop Entry]
Type=Application
Exec=ksecrets
Name=Secret Service Handling Tool
Name[pt_BR]=Ferramenta de manipulação do serviço de senhas
Name[sv]=Secret Service-hanteringsverktyg
Comment=Secret Service Handling Tool
Comment[pt_BR]=Ferramenta de manipulação do serviço de senhas
Comment[sv]=Secret Service-hanteringsverktyg
NoDisplay=true
