[Desktop Entry]
Type=Application
Exec=ksecrets
Name=Secret Service Handling Tool
Name[ca]=Eina de gestió del servei de contrasenyes
Name[cs]=Nástroj pro správu tajné služby
Name[da]=Håndteringsværktøj til Secret Service
Name[de]=Passwortverwaltungswerkzeug
Name[es]=Herramienta de manejo de Secret Service
Name[hu]=Titokszolgáltatás-kezelő eszköz
Name[nb]=Secret Service håndteringsverktøy
Name[nds]=Warktüüch för den Slöteldeenst
Name[nl]=Hulpmiddel voor werken met geheimen-service
Name[pt]=Ferramenta de Tratamento do Serviço de Senhas
Name[pt_BR]=Ferramenta de manipulação do serviço de senhas
Name[sv]=Secret Service-hanteringsverktyg
Name[uk]=Засіб роботи зі службою паролів
Name[x-test]=xxSecret Service Handling Toolxx
Name[zh_CN]=保密服务处理工具
Name[zh_TW]=機密服務處理工具
Comment=Secret Service Handling Tool
Comment[ca]=Eina de gestió del servei de contrasenyes
Comment[cs]=Nástroj pro správu tajné služby
Comment[da]=Håndteringsværktøj til Secret Service
Comment[de]=Programm zum Bedienen der Passwortverwaltung
Comment[es]=Herramienta de manejo de Secret Service
Comment[hu]=Titokszolgáltatás-kezelő eszköz
Comment[nb]=Secret Service håndteringsverktøy
Comment[nds]=En Warktüüch för den Slöteldeenst
Comment[nl]=Hulpmiddel voor werken met geheimen-service
Comment[pt]=Ferramenta de Tratamento do Serviço de Senhas
Comment[pt_BR]=Ferramenta de manipulação do serviço de senhas
Comment[sv]=Secret Service-hanteringsverktyg
Comment[uk]=Засіб роботи зі службою паролів
Comment[x-test]=xxSecret Service Handling Toolxx
Comment[zh_CN]=保密服务处理工具
Comment[zh_TW]=機密服務處理工具
