[Desktop Entry]
Type=Application
Exec=ksecrets
Name=Secret Service Handling Tool
Name[es]=Herramienta de manejo del servicio secreto
Name[et]=Saladusteenuse tööriist
Name[fr]=Outil de gestion de services de mots de passe
Name[nl]=Hulpmiddel voor werken met geheimen-service
Name[pt]=Ferramenta de Tratamento do Serviço de Senhas
Name[pt_BR]=Ferramenta de manipulação do serviço de senhas
Name[sv]=Secret Service-hanteringsverktyg
Name[uk]=Засіб роботи зі службою паролів
Name[x-test]=xxSecret Service Handling Toolxx
Comment=Secret Service Handling Tool
Comment[es]=Herramienta de manejo del servicio secreto
Comment[et]=Saladusteenuse tööriist
Comment[fr]=Outil de gestion de services de mots de passe
Comment[nl]=Hulpmiddel voor werken met geheimen-service
Comment[pt]=Ferramenta de Tratamento do Serviço de Senhas
Comment[pt_BR]=Ferramenta de manipulação do serviço de senhas
Comment[sv]=Secret Service-hanteringsverktyg
Comment[uk]=Засіб роботи зі службою паролів
Comment[x-test]=xxSecret Service Handling Toolxx
NoDisplay=true
