[Desktop Entry]
Name=KSecrets Sync
Type=Service
Comment=KSecretsService synchronization tool
Icon=kwalletmanager

X-KDE-Library=plasma_applet_secretsync
X-Plasma-DefaultSize=290,340

X-KDE-PluginInfo-Author=Valentin Rusu
X-KDE-PluginInfo-Email=valir@kde.org
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Name=secretsync
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
