[Desktop Entry]
Name=KSecrets Sync
Name[cs]=Synchronizace KSecrets
Name[de]=Abgleich für KSecrets
Name[nl]=Synchronisatie van KSecrets
Name[pt]=Sincronização do KSecrets
Name[pt_BR]=Sincronização do KSecrets
Name[sv]=Synkronisering med KSecrets
Name[uk]=Синхронізація даних KSecrets
Name[x-test]=xxKSecrets Syncxx
Type=Service
Comment=KSecretsService synchronization tool
Comment[bs]=KSecretsService sinhronizacijski alat
Comment[cs]=Nástroj KDE pro synchronizaci KSecretsService
Comment[de]=KSecretsService-Abgleichprogramm
Comment[es]=Herramienta de sincronización de KSecretsService
Comment[et]=Saladusteenuse sünkroonimistööriist
Comment[fr]=Outil de synchronisation pour « KSecretService »
Comment[hu]=KSecretsService szinkronizálás eszköz
Comment[mr]=के-सिक्रेट-सर्व्हिस सुसंगतता साधन
Comment[nl]=KSecretsService hulpmiddel voor werken met service voor geheimen
Comment[pl]=Narzędzie synchronizacji KSecretsService
Comment[pt]=Ferramenta de sincronização do KSecretsService
Comment[pt_BR]=Ferramenta de sincronização KSecretsService
Comment[sk]=Nástroj synchronizácie KSecretService
Comment[sv]=KDE Secret Service-synkroniseringsverktyg
Comment[tr]=KSecretsService eşzamanlama aracı
Comment[uk]=Засіб синхронізації KSecretsService
Comment[x-test]=xxKSecretsService synchronization toolxx
Icon=kwalletmanager

X-KDE-Library=plasma_applet_secretsync
X-Plasma-DefaultSize=290,340

X-KDE-PluginInfo-Author=Valentin Rusu
X-KDE-PluginInfo-Email=kde@rusu.info
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Name=secretsync
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
