[Desktop Entry]
Name=KSecretsService Secret Sync QML
Name[bs]=KSecretsService tajni sinhronizacijski alat
Name[ca]=Sincronització de les contrasenyes del KSecretService escrit en QML
Name[ca@valencia]=Sincronització de contrasenyes del KSecretsService en QML
Name[cs]=QML synchronizace hesel KSecretsService
Name[de]=Abgleich für QML-Passwortverwaltung
Name[es]=Sincronización secreta de KSecretsService en QML
Name[et]=Saladusteenuse saladuste sünkroonimine (QML)
Name[fi]=KSecretsServicen salaisuuksien synkronointi (QML)
Name[fr]=Synchronisation du serveur de services de mots de passe (QML)
Name[gl]=QML de sincronización de segredos de KSecretsService
Name[hu]=KSecretsService titkos QML szinkronizálás
Name[ko]=KSecretsService 기밀 동기화 QML
Name[mr]=के-सिक्रेट-सर्व्हिस सेवा सुसंगतता क्युएमएल
Name[nl]=KSecretsService Secret Sync QML
Name[pl]=Synchronizacja danych poufnych QML dla KSecretsService
Name[pt]=Sincronização de Senhas do KSecretsService (QML)
Name[pt_BR]=Sincronização de senhas do KSecretsService em QML
Name[sk]=KSecretsService Secret Sync QML
Name[sv]=KDE Secret Service-synkronisering QML
Name[tr]=KSecretsService Gizli Eşzamn. QML
Name[uk]=Засіб синхронізації паролів KSecretsService на основі QML
Name[x-test]=xxKSecretsService Secret Sync QMLxx
Comment=KSecretsService synchronization tool
Comment[ast]=Ferramienta de sincronización KSecretsService
Comment[bs]=KSecretsService sinhronizacijski alat
Comment[ca]=Eina de sincronització del KSecretService
Comment[ca@valencia]=Eina de sincronització del KSecretsService
Comment[cs]=Nástroj KDE pro synchronizaci KSecretsService
Comment[de]=KSecretsService-Abgleichprogramm
Comment[es]=Herramienta de sincronización de KSecretsService
Comment[et]=Saladusteenuse sünkroonimistööriist
Comment[fi]=KSecretsService-synkronointityökalu
Comment[fr]=Outil de synchronisation pour « KSecretService »
Comment[gl]=Ferramenta de sincronización de KSecretsService.
Comment[hu]=KSecretsService szinkronizálás eszköz
Comment[ko]=KSecretsService 동기화 도구
Comment[mr]=के-सिक्रेट-सर्व्हिस सुसंगतता साधन
Comment[nl]=KSecretsService hulpmiddel voor werken met service voor geheimen
Comment[pl]=Narzędzie synchronizacji KSecretsService
Comment[pt]=Ferramenta de sincronização do KSecretsService
Comment[pt_BR]=Ferramenta de sincronização KSecretsService
Comment[sk]=Nástroj synchronizácie KSecretService
Comment[sv]=KDE Secret Service-synkroniseringsverktyg
Comment[tr]=KSecretsService eşzamanlama aracı
Comment[uk]=Засіб синхронізації KSecretsService
Comment[x-test]=xxKSecretsService synchronization toolxx
Icon=kwalletmanager

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=200,200

X-KDE-PluginInfo-Author=Valentin Rusu
X-KDE-PluginInfo-Email=kde@rusu.info
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Name=secretsync-qml
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
Type=Service
