[Desktop Entry]
Icon=ksecretsync

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell4 ksecretsync
X-DocPath=kwallet/index.html#ksecretsync-kcontrol-module
X-KDE-Library=kcm_ksecretsync
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=account-details
X-KDE-Init=startup

Name=KDE Secret Sync
Name[bs]=KDE Secret Sync
Name[ca]=Sincronització de contrasenyes pel KDE
Name[ca@valencia]=Sincronització de contrasenyes del KDE
Name[cs]=Synchronizace hesel KDE
Name[da]=Synkronisering af KDE Secret
Name[de]=Abgleich für Passwortverwaltung
Name[es]=Sincronización secreta de KDE
Name[et]=KDE Saladuse sünkroonimine
Name[fi]=KDE Secret Sync
Name[fr]=Synchronisation de mots de passe pour KDE
Name[gl]=Sincronización secreta de KDE
Name[hu]=KDE titokszinkronizáció
Name[it]=KDE Secret Sync
Name[kk]=KDE құпияларды қадамдастыру
Name[km]=ធ្វើ​សមកាលកម្ម KDE សម្ងាត់
Name[ko]=KDE 기밀 동기화
Name[mr]=केडीई गुप्त सिंक
Name[nb]=KDE Secret Sync
Name[nds]=Slötels synkroniseren mit KDE
Name[nl]=KDE geheimen synchronisatie
Name[pa]=KDE ਭੇਦ ਸਿੰਕ
Name[pl]=Synchronizacja danych poufnych KDE
Name[pt]=Sincronização de Senhas do KDE
Name[pt_BR]=Sincronização de senhas do KDE
Name[sk]=KDE Secret Sync
Name[sv]=KDE-synkronisering med Secret
Name[tr]=KDE Secret Sync
Name[uk]=Синхронізація паролів KDE
Name[x-test]=xxKDE Secret Syncxx
Name[zh_CN]=KDE 保密同步
Name[zh_TW]=KDE 機密同步
Comment=Synchronize Secret Information between Computers
Comment[bs]=Sinhronizirajte tajne informacije između računara
Comment[ca]=Sincronitza informació de les contrasenyes entre ordinadors
Comment[ca@valencia]=Sincronitza informació de contrasenyes entre ordinadors
Comment[cs]=Synchronizovat tajné informace mezi počítači
Comment[da]=Synkronisér hemmelig information mellem computere
Comment[de]=Passwortinformationen zwischen mehreren Rechnern abgleichen
Comment[es]=Sincronizar información secreta entre equipos
Comment[et]=Saladusteabe sünkroonimine arvutite vahel
Comment[fi]=Synkronoi salaisia tietoja tietokoneiden välillä
Comment[fr]=Synchronise des informations sur les mots de passe entre ordinateurs
Comment[hu]=Titkos információk szinkronizációja számítógépek között
Comment[it]=Sincronizza informazioni segrete tra computer
Comment[kk]=Компьютер арада құпия ақпаратты қадамдастыру
Comment[km]=ធ្វើសមកាលកម្ម​ព័ត៌មាន​សម្ងាត់​រវាង​កុំព្យូទ័រ
Comment[ko]=컴퓨터간 기밀 정보 동기화
Comment[mr]=विविध संगणकातील गुप्त माहितीत सुसंगतता आणा
Comment[nb]=Synkroniser hemmelig informasjon mellom datamaskiner
Comment[nds]=Slötelinformatschonen twischen Reekners synkroniseren
Comment[nl]=Geheime informatie tussen computers synchroniseren
Comment[pa]=ਕੰਪਿਊਟਰ ਵਿੱਚ ਭੇਦ ਜਾਣਕਾਰੀ ਨੂੰ ਸਾਂਝਾ ਕਰੋ (ਸੈਕਰੋਨਾਈਜ਼)
Comment[pl]=Synchronizuj informacje o danych poufnych pomiędzy komputerami
Comment[pt]=Sincronizar a Informação de Senhas Entre Computadores
Comment[pt_BR]=Sincronizar a informação de senhas entre computadores
Comment[sk]=Synchronizovať tajné informácie medzi počítačmi
Comment[sv]=Synkronisera hemlig information mellan datorer
Comment[tr]=Bilgisayarlar arasında Gizli Bilgileri eşzamanla
Comment[uk]=Синхронізація записів реєстраційних даних між комп’ютерами
Comment[x-test]=xxSynchronize Secret Information between Computersxx
Comment[zh_CN]=在不同计算机间同步保密信息
Comment[zh_TW]=同步電腦間的機密資訊
X-KDE-Keywords=Wallet,Form Fill,Passwords,Form Data,Secret
X-KDE-Keywords[bs]=Novčanik,Formular,Lozinke,Podaci formulara,Tajno
X-KDE-Keywords[ca]=Cartera,Omplir formulari,Contrasenyes,Dades de formulari,Contrasenya
X-KDE-Keywords[ca@valencia]=Cartera,Omplir formulari,Contrasenyes,Dades de formulari,Contrasenya
X-KDE-Keywords[da]=tegnebog,formularudfyldning,adgangskoder,formulardata,hemmelighed
X-KDE-Keywords[de]=Geheimfach,Formular,Passwort,Passwortspeicher
X-KDE-Keywords[es]=Cartera,rellenar formulario,contraseña,datos de formulario,secreto
X-KDE-Keywords[et]=turvalaegas,vormide täitmine,paroolid,vormiandmed,saladus
X-KDE-Keywords[fi]=Wallet,Form Fill,Passwords,Form Data,Secret,Lompakko,Lomakkeen täydennys,Lomakkeen täydentäminen,Salasanat,Lomakkeen tiedot,Salaisuus
X-KDE-Keywords[fr]=Portefeuille, Formulaire à remplir, Mots de passe, Données, Secret
X-KDE-Keywords[ga]=Sparán,Líonadh Foirmeacha,Focail Fhaire,Sonraí Foirme,Rún
X-KDE-Keywords[hu]=Jelszótároló,űrlapkitöltés,jelszavak,űrlapadat,titok
X-KDE-Keywords[it]=portafogli,compilazione moduli,password,dati moduli,segreto
X-KDE-Keywords[kk]=Wallet,Form Fill,Passwords,Form Data,Secret
X-KDE-Keywords[km]=កាបូប បំពេញ​សំណុំ​បែបបទ ពាក្យ​សម្ងាត់ ទិន្នន័យ​សំណុំ​បែបបទ សម្ងាត់
X-KDE-Keywords[ko]=Wallet,Form Fill,Passwords,Form Data,지갑,암호,비밀번호,양식,폼,기밀,비밀
X-KDE-Keywords[mr]=पाकिट, पत्रक भरणे, गुप्तशब्द, पत्रक माहिती, गुप्त
X-KDE-Keywords[nb]=Lommebok,Skjema,Passord,Skjemadata,Hemmelig
X-KDE-Keywords[nds]=Knipp,Passwöör,Kiekwarkdaten,Formulordaten,Slötel
X-KDE-Keywords[nl]=Portefeuille,Formulier invullen,wachtwoorden,formuliergegevens,geheim
X-KDE-Keywords[pa]=ਵਾਲਿਟ,ਫਾਰਮ ਭਰਨਾ,ਪਾਸਵਰਡ,ਫਾਰਮ ਡਾਟਾ,ਭੇਦ,ਗੁਪਤ
X-KDE-Keywords[pl]=Portfel,Wypełnienie formularza,Hasła,Dane formularza,Dane poufne
X-KDE-Keywords[pt]=Carteira,Preenchimento de Formulários,Senhas,Dados de Formulários,Senha
X-KDE-Keywords[pt_BR]=carteira,preencher formulário,senha,dados de formulário,segredo
X-KDE-Keywords[sk]=Peňaženka,Vypĺňanie formulárov,Dáta formulára,Tajné
X-KDE-Keywords[sv]=Plånbok,Formulär,Lösenord,Formulärdata,Hemlighet
X-KDE-Keywords[tr]=Cüzdan,Form Doldurma,Parolalar,Form Verileri,Parola
X-KDE-Keywords[uk]=кишеня,торбинка,форма,форми,заповнення форм,пароль,паролі,дані форми,реєстрація,реєстраційні дані
X-KDE-Keywords[x-test]=xxWallet,Form Fill,Passwords,Form Data,Secretxx
X-KDE-Keywords[zh_CN]=Wallet,Form Fill,Passwords,Form Data,Secret,钱包,表单填写,密码,表单数据,保密
X-KDE-Keywords[zh_TW]=Wallet,Form Fill,Passwords,Form Data,Secret
