[Desktop Entry]
Icon=ksecretsync

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell4 ksecretsync
X-DocPath=kwallet/index.html#ksecretsync-kcontrol-module
X-KDE-Library=kcm_ksecretsync
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=account-details
X-KDE-Init=startup

Name=KDE Secret Sync
Comment=Synchronize Secret Information between Computers
X-KDE-Keywords=Wallet,Form Fill,Passwords,Form Data,Secret
